doctype html
html
  head
    title HTML5 Rukiks's tutorial Step(I)
    
    link(rel="stylesheet", href="./asset/stylesheets/myCube.css")
    
  body
    section#rubik
      #cube-container
        #cube-viewport
          #cube(style="-webkit-transform: rotateX(0deg) rotateY(130deg)")
          
            //- CUBIES POSITIONS
            .r1.x1.y1.z1.cubie O
            .r1.x1.y2.z1.cubie O
            .r1.x1.y3.z1.cubie O
            .r1.x2.y1.z1.cubie O
            .r1.x2.y2.z1.cubie O
            .r1.x2.y3.z1.cubie O
            .r1.x3.y1.z1.cubie O
            .r1.x3.y2.z1.cubie O
            .r1.x3.y3.z1.cubie O
            
            //- FRONT FACE CUBIES
            .r2.x1.y4.z2.cubie O
            .r2.x1.y5.z2.cubie O
            .r2.x1.y6.z2.cubie O
            .r2.x2.y4.z2.cubie O
            .r2.x2.y5.z2.cubie O
            .r2.x2.y6.z2.cubie O
            .r2.x3.y4.z2.cubie O
            .r2.x3.y5.z2.cubie O
            .r2.x3.y6.z2.cubie O
            
            //- DOWN FACE CUBIES
            .r3.x1.y1.z3.cubie O
            .r3.x1.y2.z3.cubie O
            .r3.x1.y3.z3.cubie O
            .r3.x2.y1.z3.cubie O
            .r3.x2.y2.z3.cubie O
            .r3.x2.y3.z3.cubie O
            .r3.x3.y1.z3.cubie O
            .r3.x3.y2.z3.cubie O
            .r3.x3.y3.z3.cubie O
            
            //- BACK FACE CUBIES
            .r4.x1.y7.z2.cubie O
            .r4.x1.y8.z2.cubie O
            .r4.x1.y9.z2.cubie O
            .r4.x2.y7.z2.cubie O
            .r4.x2.y8.z2.cubie O
            .r4.x2.y9.z2.cubie O
            .r4.x3.y7.z2.cubie O
            .r4.x3.y8.z2.cubie O
            .r4.x3.y9.z2.cubie O
            
            //- LEFT FACE CUBIES
            .r5.x4.y4.z1.cubie O
            .r5.x4.y5.z1.cubie O
            .r5.x4.y6.z1.cubie O
            .r5.x5.y4.z1.cubie O
            .r5.x5.y5.z1.cubie O
            .r5.x5.y6.z1.cubie O
            .r5.x6.y4.z1.cubie O
            .r5.x6.y5.z1.cubie O
            .r5.x6.y6.z1.cubie O
            
            //- RIGHT FACE CUBIES
            .r6.x4.y4.z3.cubie O
            .r6.x4.y5.z3.cubie O
            .r6.x4.y6.z3.cubie O
            .r6.x5.y4.z3.cubie O
            .r6.x5.y5.z3.cubie O
            .r6.x5.y6.z3.cubie O
            .r6.x6.y4.z3.cubie O
            .r6.x6.y5.z3.cubie O
            .r6.x6.y6.z3.cubie O
    // CONTROLS
    section#control(style="display:none")
      p
        | X: 
        input#rx(type='range', max='360', min='0', value='0', onchange='rotate()')
      p
        | Y: 
        input#ry(type='range', max='360', min='0', value='130', onchange='rotate()')
      p
        | Plane: 
        input#plane(type='checkbox', onclick='showPlane(this)')
    script(src="./asset/javascripts/myCube.js")
