doctype html
html
  head
    title HTML5 Rukiks's tutorial Step(I)
    
    link(rel="stylesheet", href="./asset/stylesheets/myCube.css")
    
  body
    section#rubik
      #cube-container
        #cube-viewport
          #cube(style="-webkit-transform: rotateX(0deg) rotateY(130deg)")
          
            //- CUBIES POSITIONS
            .r1.x1.y1.z1.cubie.up.LM.UE.BS O
            .r1.x1.y2.z1.cubie.up.LM.UE.CS O
            .r1.x1.y3.z1.cubie.up.LM.UE.FS O
            .r1.x2.y1.z1.cubie.up.CM.UE.BS O
            .r1.x2.y2.z1.cubie.up.CM.UE.CS O
            .r1.x2.y3.z1.cubie.up.CM.UE.FS O
            .r1.x3.y1.z1.cubie.up.RM.UE.BS O
            .r1.x3.y2.z1.cubie.up.RM.UE.CS O
            .r1.x3.y3.z1.cubie.up.RM.UE.FS O
            
            //- FRONT FACE CUBIES
            .r2.x1.y4.z2.cubie.front.LM.UE.FS O
            .r2.x1.y5.z2.cubie.front.LM.CE.FS O
            .r2.x1.y6.z2.cubie.front.LM.DE.FS O
            .r2.x2.y4.z2.cubie.front.CM.UE.FS O
            .r2.x2.y5.z2.cubie.front.CM.CE.FS O
            .r2.x2.y6.z2.cubie.front.CM.DE.FS O
            .r2.x3.y4.z2.cubie.front.RM.UE.FS O
            .r2.x3.y5.z2.cubie.front.RM.CE.FS O
            .r2.x3.y6.z2.cubie.front.RM.DE.FS O
            
            //- DOWN FACE CUBIES
            .r3.x1.y1.z3.cubie.down.LM.DE.FS O
            .r3.x1.y2.z3.cubie.down.LM.DE.CS O
            .r3.x1.y3.z3.cubie.down.LM.DE.BS O
            .r3.x2.y1.z3.cubie.down.CM.DE.FS O
            .r3.x2.y2.z3.cubie.down.CM.DE.CS O
            .r3.x2.y3.z3.cubie.down.CM.DE.BS O
            .r3.x3.y1.z3.cubie.down.RM.DE.FS O
            .r3.x3.y2.z3.cubie.down.RM.DE.CS O
            .r3.x3.y3.z3.cubie.down.RM.DE.BS O
            
            //- BACK FACE CUBIES
            .r4.x1.y7.z2.cubie.back.LM.DE.BS O
            .r4.x1.y8.z2.cubie.back.LM.CE.BS O
            .r4.x1.y9.z2.cubie.back.LM.UE.BS O
            .r4.x2.y7.z2.cubie.back.CM.DE.BS O
            .r4.x2.y8.z2.cubie.back.CM.CE.BS O
            .r4.x2.y9.z2.cubie.back.CM.UE.BS O
            .r4.x3.y7.z2.cubie.back.RM.DE.BS O
            .r4.x3.y8.z2.cubie.back.RM.CE.BS O
            .r4.x3.y9.z2.cubie.back.RM.UE.BS O
            
            //- LEFT FACE CUBIES
            .r5.x4.y4.z1.cubie.left.LM.UE.BS O
            .r5.x4.y5.z1.cubie.left.LM.CE.BS O
            .r5.x4.y6.z1.cubie.left.LM.DE.BS O
            .r5.x5.y4.z1.cubie.left.LM.UE.CS O
            .r5.x5.y5.z1.cubie.left.LM.CE.CS O
            .r5.x5.y6.z1.cubie.left.LM.DE.CS O
            .r5.x6.y4.z1.cubie.left.LM.UE.FS O
            .r5.x6.y5.z1.cubie.left.LM.CE.FS O
            .r5.x6.y6.z1.cubie.left.LM.DE.FS O
            
            //- RIGHT FACE CUBIES
            .r6.x4.y4.z3.cubie.right.RM.UE.FS O
            .r6.x4.y5.z3.cubie.right.RM.CE.FS O
            .r6.x4.y6.z3.cubie.right.RM.DE.FS O
            .r6.x5.y4.z3.cubie.right.RM.UE.CS O
            .r6.x5.y5.z3.cubie.right.RM.CE.CS O
            .r6.x5.y6.z3.cubie.right.RM.DE.CS O
            .r6.x6.y4.z3.cubie.right.RM.UE.BS O
            .r6.x6.y5.z3.cubie.right.RM.CE.BS O
            .r6.x6.y6.z3.cubie.right.RM.DE.BS O
    // CONTROLS
    section#control(style="display:none")
      p
        | X: 
        input#rx(type='range', max='360', min='0', value='0', onchange='rotate()')
      p
        | Y: 
        input#ry(type='range', max='360', min='0', value='130', onchange='rotate()')
      p
        | Plane: 
        input#plane(type='checkbox', onclick='showPlane(this)')
    script(src="./asset/javascripts/myCube.js")
