doctype html
html
  head
    title HTML5 Rukiks's tutorial Step(I)
    
    link(rel="stylesheet", href="./asset/stylesheets/myCube.css")
    
  body
    section#rubik
      #cube-container
        #cube-viewport
          #cube(style="-webkit-transform: rotateX(0deg) rotateY(130deg)")
            .x1.y1.z1.cubie O
            .x1.y2.z1.cubie O
            .x1.y3.z1.cubie O
            .x1.y1.z2.cubie O
            .x1.y2.z2.cubie O
            .x1.y3.z2.cubie O
            .x1.y1.z3.cubie O
            .x1.y2.z3.cubie O
            .x1.y3.z3.cubie O
            //-  FRONT FACE CUBIES

            .x2.y4.z1.cubie O
            .x2.y5.z1.cubie O
            .x2.y6.z1.cubie O
            .x2.y4.z2.cubie O
            .x2.y5.z2.cubie O
            .x2.y6.z2.cubie O
            .x2.y4.z3.cubie O
            .x2.y5.z3.cubie O
            .x2.y6.z3.cubie O
            //- DOWN FACE CUBIES

            .x3.y1.z1.cubie O
            .x3.y2.z1.cubie O
            .x3.y3.z1.cubie O
            .x3.y1.z2.cubie O
            .x3.y2.z2.cubie O
            .x3.y3.z2.cubie O
            .x3.y1.z3.cubie O
            .x3.y2.z3.cubie O
            .x3.y3.z3.cubie O
            //- BACK FACE CUBIES

            .x4.y7.z1.cubie O
            .x4.y8.z1.cubie O
            .x4.y9.z1.cubie O
            .x4.y7.z2.cubie O
            .x4.y8.z2.cubie O
            .x4.y9.z2.cubie O
            .x4.y7.z3.cubie O
            .x4.y8.z3.cubie O
            .x4.y9.z3.cubie O
            //- LEFT FACE CUBIES

            .x5.y4.z1.cubie O
            .x5.y5.z1.cubie O
            .x5.y6.z1.cubie O
            .x5.y4.z2.cubie O
            .x5.y5.z2.cubie O
            .x5.y6.z2.cubie O
            .x5.y4.z3.cubie O
            .x5.y5.z3.cubie O
            .x5.y6.z3.cubie O
            //- RIGHT FACE CUBIES

            .x6.y4.z1.cubie O
            .x6.y5.z1.cubie O
            .x6.y6.z1.cubie O
            .x6.y4.z2.cubie O
            .x6.y5.z2.cubie O
            .x6.y6.z2.cubie O
            .x6.y4.z3.cubie O
            .x6.y5.z3.cubie O
            .x6.y6.z3.cubie O
    // CONTROLS
    section#control(style="display:none")
      p
        | X: 
        input#rx(type='range', max='360', min='0', value='0', onchange='rotate()')
      p
        | Y: 
        input#ry(type='range', max='360', min='0', value='130', onchange='rotate()')
      p
        | Plane: 
        input#plane(type='checkbox', onclick='showPlane(this)')
    script(src="./asset/javascripts/myCube.js")
