doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  3D-box 
    link(rel="stylesheet", href="./asset/stylesheets/cube.css")
    
  body
    - for( var x = 1; x <= 3; x++ )
      button.ctrl(data-layer='x'+ x data-rx='90' data-ry='0')= 'x' + x + '向右轉'
    - for( var y = 1; y <= 3; y++ )
      button.ctrl(data-layer='y'+ y data-rx='0' data-ry='90')= 'y' + y + '向右轉'
    br
    br
    br
    .container(style='transform: rotateX(-30deg) rotateY(45deg)')
      - for( var x = 1; x <= 3; x++ )
        - for( var y = 1; y <= 3; y++ )
          - for( var z = 1; z <= 3; z++ )
            - var cubeClass = 'x' + x + ' y' + y + ' z' + z;
            .cube(class=cubeClass)
              figure.front
              figure.back
              figure.right
              figure.left
              figure.top
              figure.bottom  
    // scirpts
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='./asset/javascripts/jquery-2.1.3.min.js')
    script(src='./asset/javascripts/cube.js')
