doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  3D-box 
    link(rel="stylesheet", href="./asset/stylesheets/cube.css")
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  body
    .container.test.animate
      - for( var x = 1; x <= 3; x++ )
        - for( var y = 1; y <= 3; y++ )
          - for( var z = 1; z <= 3; z++ )
            - var cubeClass = 'x' + x + ' y' + y + ' z' + z;
              .cube(class=cubeClass)
                figure.front
                figure.back
                figure.right
                figure.left
                figure.top
                figure.bottom
//- <!DOCTYPE html>
//- html(lang="en")
//- head
//-   meta(charset="UTF-8")
//-   title MagicCube
//-   link(rel="stylesheet", href="./asset/stylesheets/cube.css")
//-   script(src="./asset/javascripts/jquery-2.1.3.min.js")
//-   
//-   //- script(src="http://louisremi.github.io/jquery.transform.js/jquery.transform2d.js")
//-   //- script(src="http://louisremi.github.io/jquery.transform.js/js/prettify.js")
//-   //- script(src="./asset/javascripts/jquery.transform3d.js")
//-   
//-   script(src="./asset/javascripts/cube.js")
//- body
//-   //- .wrapper
//-     //- - for( var x = 1; x <= 3; x++ )
//-       //- - for( var y = 1; y <= 3; y++ )
//-       //-   - for( var z = 1; z <= 3; z++ )
//-       //-     - var cubeClass = 'x' + x + ' y' + y + ' z' + z;
//-       //-     - var containerId = 'x' + x + 'y' + y + 'z' + z;
//-     //- .container(id=containerId)
//-   .container(id='x1y2z3').animate
//-     .cube(class='x1 y2 z3')
//-       figure.front
//-       figure.back
//-       figure.right
//-       figure.left
//-       figure.top
//-       figure.bottom
//- 
//-   center
//-     button test
