/* @import 'compass/reset' */
/* line 39, ../sass/cube.sass */
body {
  perspective: 1000px;
  background-color: #333;
  padding-top: 300px;
}

/* line 47, ../sass/cube.sass */
.container {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-left: -25px;
  border: 1px solid white;
}

/* line 58, ../sass/cube.sass */
.test {
  width: 75px;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

/* line 63, ../sass/cube.sass */
.test2 {
  width: 50px;
  margin-left: 100px;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* line 68, ../sass/cube.sass */
.cube {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border: 1px solid red;
}
/* line 74, ../sass/cube.sass */
.cube figure {
  display: block;
  position: absolute;
  border: 4px solid black;
  border-radius: 2px;
  width: 46px;
  height: 46px;
  margin: 0px;
}
/* line 82, ../sass/cube.sass */
.cube figure.front {
  transform: rotateX(0deg) rotateY(0deg) translateZ(25px);
  background-color: red;
}
/* line 85, ../sass/cube.sass */
.cube figure.right {
  transform: rotateX(0deg) rotateY(90deg) translateZ(25px);
  background-color: blue;
}
/* line 88, ../sass/cube.sass */
.cube figure.left {
  transform: rotateX(0deg) rotateY(-90deg) translateZ(25px);
  background-color: white;
}
/* line 91, ../sass/cube.sass */
.cube figure.back {
  transform: rotateX(180deg) rotateY(0deg) translateZ(25px);
  background-color: yellow;
}
/* line 94, ../sass/cube.sass */
.cube figure.top {
  transform: rotateX(90deg) rotateY(0deg) translateZ(25px);
  background-color: green;
}
/* line 97, ../sass/cube.sass */
.cube figure.bottom {
  transform: rotateX(-90deg) rotateY(0deg) translateZ(25px);
  background-color: #eb9f0c;
}

/* line 101, ../sass/cube.sass */
.animate {
  animation: rolling 3s infinite;
  animation-timing-function: linear;
}

@keyframes rolling {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
