/* line 34, ../sass/cube.sass */
body {
  perspective: 1000px;
  background-color: #333;
  padding-top: 300px;
}

/* line 42, ../sass/cube.sass */
.container {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-left: -25px;
}

/* line 58, ../sass/cube.sass */
.cube {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 11, ../sass/cube.sass */
.cube.x1.y1.z1 {
  transform: translateX(0px) translateY(0px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x1.y1.z2 {
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x1.y1.z3 {
  transform: translateX(0px) translateY(0px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x1.y2.z1 {
  transform: translateX(0px) translateY(50px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x1.y2.z2 {
  transform: translateX(0px) translateY(50px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x1.y2.z3 {
  transform: translateX(0px) translateY(50px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x1.y3.z1 {
  transform: translateX(0px) translateY(100px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x1.y3.z2 {
  transform: translateX(0px) translateY(100px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x1.y3.z3 {
  transform: translateX(0px) translateY(100px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x2.y1.z1 {
  transform: translateX(50px) translateY(0px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x2.y1.z2 {
  transform: translateX(50px) translateY(0px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x2.y1.z3 {
  transform: translateX(50px) translateY(0px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x2.y2.z1 {
  transform: translateX(50px) translateY(50px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x2.y2.z2 {
  transform: translateX(50px) translateY(50px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x2.y2.z3 {
  transform: translateX(50px) translateY(50px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x2.y3.z1 {
  transform: translateX(50px) translateY(100px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x2.y3.z2 {
  transform: translateX(50px) translateY(100px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x2.y3.z3 {
  transform: translateX(50px) translateY(100px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x3.y1.z1 {
  transform: translateX(100px) translateY(0px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x3.y1.z2 {
  transform: translateX(100px) translateY(0px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x3.y1.z3 {
  transform: translateX(100px) translateY(0px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x3.y2.z1 {
  transform: translateX(100px) translateY(50px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x3.y2.z2 {
  transform: translateX(100px) translateY(50px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x3.y2.z3 {
  transform: translateX(100px) translateY(50px) translateZ(50px);
}
/* line 11, ../sass/cube.sass */
.cube.x3.y3.z1 {
  transform: translateX(100px) translateY(100px) translateZ(-50px);
}
/* line 13, ../sass/cube.sass */
.cube.x3.y3.z2 {
  transform: translateX(100px) translateY(100px) translateZ(0px);
}
/* line 15, ../sass/cube.sass */
.cube.x3.y3.z3 {
  transform: translateX(100px) translateY(100px) translateZ(50px);
}
/* line 61, ../sass/cube.sass */
.cube figure {
  display: block;
  position: absolute;
  border: 4px solid black;
  border-radius: 2px;
  width: 46px;
  height: 46px;
  margin: 0px;
}
/* line 69, ../sass/cube.sass */
.cube figure.front {
  transform: rotateX(0deg) rotateY(0deg) translateZ(25px);
  background-color: red;
}
/* line 72, ../sass/cube.sass */
.cube figure.right {
  transform: rotateX(0deg) rotateY(90deg) translateZ(25px);
  background-color: blue;
}
/* line 75, ../sass/cube.sass */
.cube figure.left {
  transform: rotateX(0deg) rotateY(-90deg) translateZ(25px);
  background-color: white;
}
/* line 78, ../sass/cube.sass */
.cube figure.back {
  transform: rotateX(180deg) rotateY(0deg) translateZ(25px);
  background-color: yellow;
}
/* line 81, ../sass/cube.sass */
.cube figure.top {
  transform: rotateX(90deg) rotateY(0deg) translateZ(25px);
  background-color: green;
}
/* line 84, ../sass/cube.sass */
.cube figure.bottom {
  transform: rotateX(-90deg) rotateY(0deg) translateZ(25px);
  background-color: #eb9f0c;
}
