// @import 'compass/reset'
// @import 'compass/css3/transform'
@import 'compass/css3'

$box-size: 50px

// 定位
@mixin cubeFigure($rX, $rY, $mZ)
  transform: rotateX($rX+deg) rotateY($rY+deg) translateZ($mZ+px)

@mixin locateCubeZ($mX, $mY)
  &.z1
    transform: translateX($mX+px) translateY($mY+px) translateZ(-50px)
  &.z2
    transform: translateX($mX+px) translateY($mY+px) translateZ(0px)
  &.z3
    transform: translateX($mX+px) translateY($mY+px) translateZ(50px)

@mixin locateCubeY($mX)
  &.y1
    +locateCubeZ($mX, -75)
  &.y2
    +locateCubeZ($mX, -25)
  &.y3
    +locateCubeZ($mX, 25)

@mixin locateCube
  &.x1
    +locateCubeY(0)
  &.x2
    +locateCubeY(50)
  &.x3
    +locateCubeY(100)

body
  perspective: 1000px
  background-color: #333
  padding-top: 300px
  // @include display-flex
  // @include flex-direction(center)
  // @include perspective( relative )

.container
  @include transform-style(preserve-3d)
  position: absolute
  left: 50%
  width: $box-size * 3
  height: $box-size * 3
  margin-left: -$box-size / 2
  // border: 1px solid red
  // @include perspective( relative )
  // perspective: 10000px

.cube
  // transform-origin: 50% 100% 1px
  @include transform-style(preserve-3d)
  +locateCube
  figure
    display: block
    position: absolute
    border-radius: 6px
    border: 4px solid black
    width: $box-size - 4px
    height: $box-size - 4px
    margin: 0px
    &.front
      +cubeFigure(0, 0, 25)
      background-color: red
    &.right
      +cubeFigure(0, 90, 25)
      background-color: blue
    &.left
      +cubeFigure(0, -90, 25)
      background-color: white
    &.back
      +cubeFigure(180, 0, 25)
      background-color: yellow
    &.top
      +cubeFigure(90, 0, 25)
      background-color: green
    &.bottom
      +cubeFigure(-90, 0, 25)
      background-color: rgb(235, 159, 12)

.animate
  animation: rolling 3s infinite
  animation-timing-function: linear

.ctrl
  float: right
  clear: right
  margin-top: 4px

@keyframes rolling
  from
    transform: rotateY(360deg) translateX(0px) translateY(0px) translateZ(-50px)
  to
    transform: rotateY(0deg)  translateX(0px) translateY(0px) translateZ(-50px)
